
.logo {
    background-color: aliceblue;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}



@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }














  .content_img{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
   }
   
   /* Child Text Container */
   .content_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }
   
   /* Hover on Parent Container */
   .content_img:hover{
    cursor: pointer;
   }
   
   .content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }








   *,
   *::before,
   *::after {
     box-sizing: border-box;
   }
   
   body {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     background: #ffffff;
   }
   
   .timeline {
     position: relative;
     width: 100%;
     max-width: 1140px;
     margin: 0 auto;
     padding: 15px 0;
   }
   
   .timeline::after {
     content: '';
     position: absolute;
     width: 2px;
     background: #006E51;
     top: 0;
     bottom: 0;
     left: 50%;
     margin-left: -1px;
   }
   
   .container {
     padding: 15px 30px;
     position: relative;
     background: inherit;
     width: 50%;
   }
   
   .container.left {
     left: 0;
   }
   
   .container.right {
     left: 50%;
   }
   
   .container::after {
     content: '';
     position: absolute;
     width: 16px;
     height: 16px;
     top: calc(50% - 8px);
     right: -8px;
     background: #ffffff;
     border: 2px solid #006E51;
     border-radius: 16px;
     z-index: 1;
   }
   
   .container.right::after {
     left: -8px;
   }
   
   .container::before {
     content: '';
     position: absolute;
     width: 50px;
     height: 2px;
     top: calc(50% - 1px);
     right: 8px;
     background: #006E51;
     z-index: 1;
   }
   
   .container.right::before {
     left: 8px;
   }
   
   .container .date {
     position: absolute;
     display: inline-block;
     top: calc(50% - 8px);
     text-align: center;
     font-size: 14px;
     font-weight: bold;
     color: #006E51;
     text-transform: uppercase;
     letter-spacing: 1px;
     z-index: 1;
   }
   
   .container.left .date {
     right: -75px;
   }
   
   .container.right .date {
     left: -75px;
   }
   
   .container .icon {
     position: absolute;
     display: inline-block;
     width: 40px;
     height: 40px;
     padding: 9px 0;
     top: calc(50% - 20px);
     background: #F6D155;
     border: 2px solid #006E51;
     border-radius: 40px;
     text-align: center;
     font-size: 18px;
     color: #006E51;
     z-index: 1;
   }
   
   .container.left .icon {
     right: 56px;
   }
   
   .container.right .icon {
     left: 56px;
   }
   
   .container .content {
     padding: 30px 90px 30px 30px;
     background: #F6D155;
     position: relative;
     border-radius: 0 500px 500px 0;
   }
   
   .container.right .content {
     padding: 30px 30px 30px 90px;
     border-radius: 500px 0 0 500px;
   }
   
   .container .content h2 {
     margin: 0 0 10px 0;
     font-size: 18px;
     font-weight: normal;
     color: #006E51;
   }
   
   .container .content p {
     margin: 0;
     font-size: 16px;
     line-height: 22px;
     color: #000000;
   }
   
   @media (max-width: 767.98px) {
     .timeline::after {
       left: 90px;
     }
   
     .container {
       width: 100%;
       padding-left: 120px;
       padding-right: 30px;
     }
   
     .container.right {
       left: 0%;
     }
   
     .container.left::after,
     .container.right::after {
       left: 82px;
     }
   
     .container.left::before,
     .container.right::before {
       left: 100px;
       border-color: transparent #006E51 transparent transparent;
     }
   
     .container.left .date,
     .container.right .date {
       right: auto;
       left: 15px;
     }
   
     .container.left .icon,
     .container.right .icon {
       right: auto;
       left: 146px;
     }
   
     .container.left .content,
     .container.right .content {
       padding: 30px 30px 30px 90px;
       border-radius: 500px 0 0 500px;
     }
   }